.wrap{width:100%; height:auto;}
#section{width:100%; height:auto; padding:30px 50px; box-sizing:border-box; display:flex; justify-content:center;}
h1{margin-bottom:20px;}
.p_wrapper{margin-bottom:50px;}
.p_wrapper>ul{line-height:30px;}
.p_wrapper>ul.p1{width:10%;}
.title{width:100%; height:120px; position:relative; display:flex; align-items:center; margin-bottom:20px;}
.title img{height:80px;}
.title p{font:700 2.8em 'D2Coding'; position:absolute; bottom:27px; left:120px;}

.intro{height:100%; overflow:hidden; display:flex; align-items:center; position:relative;}
.intro>img{width:100%;}
.intro>p{position:absolute; top:50%; left:41%; color:#fff; font:700 5em 'D2Coding';}

.wrapper{width:1000px; height:auto; border:1px solid #aaa; border-radius:20px; padding:40px 60px; box-sizing:border-box;}
.info,.license{display:flex;}
.career{display:flex; margin-bottom:20px;}
.career>p{min-width:160px;}
.work{margin-left:20px;}
.work>p{font-weight:bold;}
.work>span{font-size:0.9em; color:#666; line-height:35px;}

.skill{display:flex; flex-wrap:wrap;}
.skill img{height:60px;}
.skillbar{display:flex; align-items:center; margin-right:50px;}

/*** RADIAL PROGRESS ***/
/* Circumference = 2πr */
/* π = 3.1415926535898 */
/* r = 35 */
svg.radial-progress {height:auto; max-width:80px; padding:1em; transform:rotate(-90deg); width:100%;}
svg.radial-progress circle {fill:rgba(0,0,0,0); stroke:#fff; stroke-dashoffset:219.91148575129; /* Circumference */ stroke-width:10;}
svg.radial-progress circle.incomplete {opacity:0.25;}
svg.radial-progress circle.complete {stroke-dasharray:219.91148575129; /* Circumference */}
svg.radial-progress text{fill:#000; font:400 1em/1 'Pretendard-Regular', sans-serif; text-anchor:middle;}
svg.radial-progress circle{stroke:#a2ed56;}

.coding_wrap,.design_wrap>.title>p{bottom:7px;}
.coding_box{width:100%; height:100%; display:flex; margin-bottom:50px;}
.coding_box img{width:60%;}
.text{width:40%; height:100%; padding:30px 20px; box-sizing:border-box;}
.text>.preview{display:flex; font-size:0.9em; line-height:25px; margin-top:20px;}
.preview>ul.c1{width:80px;}
.local{display:flex; justify-content:center; margin-top:40px; text-align:center; line-height:40px;}
.local>span{width:100px; height:40px; display:block; border:1px solid #a2ed56; border-radius:10px; cursor:pointer;}

.coding{width:100%; height:100%; display:flex;}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main{background:#000;}

#section:last-child{position:relative;}
.design_box{width:100%; height:100%; display:flex; flex-wrap:wrap; justify-content:space-between;}
.design_img{height:250px;}
.design_img>img{height:100%; filter:grayscale(1); cursor:pointer;}
.design_img>img:hover{filter:grayscale(0);}
.design_img:nth-child(4)>img{width:200px;}

.d_popup{display:none;}
.popup{width:700px; height:650px; background:#fff; border:1px solid #666; border-radius:10px; position:absolute; top:0; left:0; bottom:0; right:0; margin:auto; display:flex; justify-content:center; padding:50px 0; box-sizing:border-box; overflow:scroll;}
.popup::-webkit-scrollbar{display:none;}
.d_img{width:70%; height:100%; padding-bottom:50px; box-sizing:border-box;}
.popup>.d_img>img{width:100%; margin-bottom:10px;}
.d_close{background:#eee; border-radius:100%; width:25px; height:25px; line-height:25px; text-align:center; cursor:pointer; position:absolute; right:10px; top:10px;}
